.header {
  background-color: #444;
  color: #ddd;
  text-align: center;
  padding: 20px 0;

  .title {
    margin: 0;
    padding: 0;
  }
}

.main {
  padding: 50px 0;
  text-align: center;
}

.show-epg {
  background-color: rgba(168, 0, 0, 0.8);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 25px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(168, 0, 0, 1);
    transition: background-color 0.3s;
  }
}
